<span>
<div class="col-md-12">
<div class="form-group addCourseValue" >

	<label for="from">Course</label>	
	 <input type="text" class="form-control" ng-model="employeecourses" id="currentcount{{count}}">
	<button class="btn btn-info" id="count{{count}}" ng-click="saveCourse()">Submit</button> 	
</div>
</div>

<!-- <div class="col-md-12">
	<div ng-repeat="n in namess">
		<p>{{n}}</p>
	</div>
	Add name to scope:
	<input type="text" class="form-control" ng-model="nam">
	<button class="btn btn-info" ng-click="add(nam)">Save</button> 
</div> -->
</span>
