<div class="col-md-10 col-md-offset-1 well">
	<h3 class="text-center" style="margin-top:0px;margin-bottom:20px;"> Search Friends</h3>
	<form class="form-inline">
	  <div class="form-group col-md-4">
	    <label for="sel1">By Location:</label>
	      <select ng-model="friendRequest.currentlocation" ng-options="location.name for location in wholelocations" class="form-control"> 
			 <option value="">Select Locations</option>
		  </select>
	  </div>

	  <div class="form-group col-md-4" >
	    <label for="sel1">By Company:</label>
	      <select ng-model="friendRequest.company" ng-options="company.name for company in wholecompanies" class="form-control"> 
			 <option value="">Select Company</option>
		  </select>
	  </div>
	  <div class="form-group col-md-4">
	    <label for="sel1">By Skills:</label>
	      <select ng-model="friendRequest.skillset" ng-options="skill.name for skill in wholeskills" class="form-control"> 
			 <option value="">Select Skill</option>
		  </select>
	  </div>
	  <div class="col-md-4 col-md-offset-4" style="margin-top:20px;">
  		<button type="submit" class="btn btn-success btn-block" ng-click="searchFriend()">Search</button>
  	</div>
</form>	
</div>
<div ng-show="resultview">
<div class="col-md-10 col-md-offset-1 well"   ng-repeat="friend in friendsList track by $index" id="{{$index}}" >		
		<p>Name : {{friend.fullname}}</p>
		<p>Location : {{friend.currentlocation}}</p>
		<p>Company Name : <span style="color:red">{{friend.current_company_name}}</span></p>
		<p>Experience : {{friend.experience}}</p>
		<!-- <p>Skills are : <span ng-repeat="skill in friend.skillset" data-add-a-space-between>{{skill +" " }}</span></p> -->
		<button class="btn btn-success" style="float:right" ng-click="sendRequest(friend.email,$index)">Send Friend Request</button>		
</div>
</div>
</div>
<div class="col-md-10 col-md-offset-1 well" ng-show="noresultview">
	<h4 class="text-center"> No Results Found. Please Try with some other options. </h4>
</div>
