<div class="col-md-10 col-md-offset-1" ng-show="resultoffriendsListtrue">
	<span>
	<h2 class="text-center">Friend Request List :</h2> <a href="#/friendSearch" style="float:right">Get More Friends </a></span>
	
	<div class="col-md-12 well"   ng-repeat="friend in friendRequestedList track by $index" id="{{$index}}" >		
			<p>Name : {{friend.fullname}}</p>
			<p>Location : {{friend.currentlocation}}</p>
			<p>Company Name : <span style="color:red">{{friend.current_company_name}}</span></p>
			<p>Experience : {{friend.experience}}</p>
			<!-- <p>Skills are : <span ng-repeat="skill in friend.skillset" data-add-a-space-between>{{skill +" " }}</span></p> -->
			<span style="float:right">
				<button class="btn btn-success" ng-click="confirmRequest(friend.email,$index,'confirmed')">Accept</button>	
				<button class="btn btn-success" ng-click="confirmRequest(friend.email,$index,'rejected')">Reject</button>	
			</span>	
	</div>
</div>

<div class="col-md-10 col-md-offset-1" ng-show="resultoffriendsListfail">
	<div class="well">
		<h4>Sorry No More Request is Found. For More Friend <a href="#/friendSearch"> Click Here</a>
		</h4>
	</div>
</div>