<style type="text/css">
	.canvasjs-chart-credit{
		display: none;
	}
</style>

<h1 class="text-center">Home Page</h1>

<div class="col-md-12">	
	<button class="btn btn-primary" ng-click="getImage()">withResponse</button>	
	<button class="btn btn-primary" ng-click="linkedIn()">login With LinkedIn</button>	
	<button class="btn btn-primary" ng-click="googleAPI()">login With GooglePlus</button>	
</div>

<div class="col-md-12 text-center">
	<img ng-src="Rchart"/>
</div>

<div class="col-md-12 text-center">
	<img ng-src="data:image/png;base64,{{image}}"/>
</div>




